li > a{
  color: black;
  text-decoration:none;
  &:link {
    text-decoration:none;
    color: black;
  };
  &:visited {
    text-decoration:none;
    color: black;
  };
  &:active {
    text-decoration:none;
    color: #999;
  };
  &:hover {
    color: #999;
    text-decoration:none;
  };
}

li.active > a {
  color: #999
}

[ng-click] {
  cursor: pointer;
}