navbar
.container#form-container
	.row
		div.col-xs-10.col-xs-offset-1
			div.jumbotron.text-center.text-white.hidden-xs(style="background-image: url('../assets/images/checkout/03.jpg'); background-size: 100% auto;", ng-click="backToCheckout()")
				h1 付款失敗
				p 再次結帳，或撥打客服 02-23623827
				button.btn.btn-danger.btn-sharp.btn-lg.pull-right.text-justify(ng-click="backToCheckout()", role="button") 再次結帳
					span.glyphicon.glyphicon-home.pull-right
			div.well.text-center.visible-xs(style="border:0px solid black;")
				h2 付款失敗
				p 再次結帳，或撥打客服 02-23623827
				a.btn.btn-default.btn-lg(ng-click="backToCheckout()", role="button") 再次結帳
			.page-header.h4(ng-show="order")
				| 訂單資訊 （訂單編號：{{order.order_id}}）
			.page-header
			div.text-muted
				p 注意事項：
				ul
					li 當您完成商品訂購程序之後，系統將會自動發送電子郵件於您所留的電子郵件信箱。您可隨時至「訂單查詢」確認訂單最新資料，並可點選該筆訂單的「訂單明細」確認付款/出貨資訊等資料。
					li 若當次訂購享有跨產品或滿額贈禮優惠者，有需要取消或退貨時，需將當次訂購之商品全部取消或退貨。
					li 辦理退換貨時，您需要負擔商品寄至本公司的郵資。

			button.col-md-3.col-xs-10.btn.btn-danger.btn-sharp.btn-lg.pull-right.text-justify(ng-click="backToHome()", role="button") 回到官網首頁
				span.glyphicon.glyphicon-home.pull-right
