div.navbar.navbar-default.navbar-fixed-bottom
	div.container
		p.navbar-text.text-center Enjoy Vecs Gardenia, Love Vecs Gardenia.
		//- a.navbar-btn.btn.btn-default.pull-right(href='https://github.com/NeoNeoHo') Subscribe on Vecs Gardenia
